revchatgpt @ git+https://github.com/brainboost/ChatGPT.git
bingimagecreator-fork @ git+https://github.com/yihong0618/BingImageCreator.git
EdgeGPT-plus
google-generativeai
deepl
websockets
requests
requests_toolbelt
curl_cffi
boto3
sydney-py
pyjwt