git+https://github.com/brainboost/EdgeGPT.git
git+https://github.com/brainboost/Bard.git
git+https://github.com/brainboost/ChatGPT.git
git+https://github.com/brainboost/BingImageCreator.git
deepl
websockets
requests
boto3
